.team-container {
    padding: 20px;
    text-align: left;
  }
  
  .team-container h1 {
    /* color: #0056b3; */
    margin-left: 30px;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .player-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 40px;
  }
  